body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e315b;
    width: 92.5%;
    padding: 57px;
    border: 10px solid #342623;
    color: #cbc2c1;
    font-size: 20px;
}
#titulo {
    text-align: center;
    margin-top: -50px;
}
#minha_foto {
    width: 250px;
    position: absolute;
    top: 150px;
    border-radius: 100%;
    left: 10%;
    border: 10px solid #342623;
}
#gustavo_link {
    position: absolute;
    top: 440px;
    left: 9.2%;
    font-size: 40px;
    padding: 20px;
    background-color: #2e315b;
    border: 5px solid #342623;
    border-radius: 0%;
    color: #cbc2c1;
    text-decoration: none;
}
#licoes_aprendidas {
    font-size: 25px;
    top: 620px;
    position: absolute;
    left: 0;
    color: #2e315b;
    list-style: none;
}
div, {
    padding: 2000px;
    border: 10px solid #342623;
    position: absolute;
    left: -3400px;
    top: 133.5px;
    
}
#titulo_licoes {
    font-size: 30px ;
    position: absolute;
    top: 570px;
    left: 2%;
    color: #342623;
}
#logo_trybe {
    width: 300px;
    position: absolute;
    left: 82%;
    top: 140px;
}
#licoes_a_aprender {
    font-size: 25px;
    top: 620px;
    position: absolute;
    left: 18%;
    color: #2e315b;
    list-style: none;
}
#titulo_a_aprender {
    font-size: 30px ;
    position: absolute;
    top: 570px;
    left: 20%;
    color: #342623;
}
#rodape {
    background-color: #444955;
    position: absolute;
    top: 1050px;
    width: 100%;
    margin-left: -10px;
}
p, {
    text-align: right;
    font-size: 30px;
    width: 50%;
    position: absolute;
    left: 500px;
    top: 1000px;
}
#contato {
    color: rgb(253, 251, 251);
    text-align: left;
    display: block;
    margin-left: 20px;
}

